{% extends "./base.html" %}
{% load static %}
{% load humanize %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style-carro.css' %}">
<link rel="stylesheet" href="{% static 'css/style-product.css' %}">
<link rel="stylesheet" href="{% static 'css/c.css' %}">
{% endblock %}
{% block title %}
  PRODUCTOS-ACCESORIOS
{% endblock %}

{% block body %}

<div id="ini" class="pb-3">
    <a href="/productos" class="pt-2 ps-2 fs-5 align-items-center col-sm" id="link-pr">PRODUCTOS ></a> <a href="#" class="fs-5 align-items-center col-sm" id="link-pr">ACCESORIOS</a></h3>
  <main>
</div>
 
<div id="toastContainer" aria-live="polite" aria-atomic="true" style="position: fixed; bottom: 10px; right: 10px; z-index: 1;"></div>



  <div class="container mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-3 ">
      {% for p in categoria_accesorios %}
      <div class="col mb-2">
        <div class="card h-100" id="car-prod">
          <img class="card-img-top" src="{{p.imagen_url.url}}" alt="..." >
          <div class="card-body">
            <h5 class="card-title">{{p.nombre}}</h5>
            <p class="card-text">{{p.descripcion}}</p>
            <p class="card-price">${{ p.precio|intcomma }}</p>
            <button id="loginButton" class="btn btn-primary" onclick="mostrarToast()"> Agregar al carrito</button>



            
            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


    </div>

</section>
        

{% endblock %}

{% block script %}

<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script> 
<script src="{% static 'js/shop.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/prueba.js' %}"></script>  



{% endblock %}